---
# SSH hardening to reduce attack surface.

- name: Disable root login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'

- name: Apply our clean SSH template
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config

- name: Restart SSH service
  service:
    name: ssh
    state: restarted